* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.664);
  background-image: url('./Assets/bgvalorant.png');
  background-position: right;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #72d1cb;
  height: 60px;
  border: 1px solid white;
  color: white;
  width: 200px;
  font-size: 1.5rem;
  cursor: pointer;
}

.agents-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3px;
  width: 800px;
  margin-bottom: 100px;
}

.img-agent {
  background-color: transparent;
  border: .7px solid white;
  height: 65px;
  cursor: pointer;
  transition: all 1s;

  &:hover {
    transition: all .3s;
    border: 1px solid green;
  }
}

.sorted-agent {
  position: absolute;
  z-index: -1;
  height: 600px;
  top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #0e1921;
}

.sorted-agent p {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  padding: 10px;
}

.sorted-agent img {
  height: 80%;
}